doctype html

html
  head
    title vox - Tell me 12 seconds of your story
    link(href='http://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet', type='text/css')
    link(rel="stylesheet",type="text/css",href="bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet",type="text/css",href="css/main.css")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=2")
  body
    #gradient1.gradient-bg
      .page-wrapper
        #page1.page
          h1.logo
            |vox logo
            img(src="/img/vox_logo_big.png")
          .slogan
            .dot-line
              img(src="/img/dot_line_short.png")
            span Tell me 12 seconds of your story
            .dot-line
              img(src="/img/dot_line_short.png")

    #gradient2.gradient-bg
      .page-wrapper
        #page2.page
          div(style="height:100%;")
            //-.col-lg-9.col-sm-12(style="height:100%;")
            img.appscreen(style="max-height: 100%;", src="/img/iPhone-6-PLUS-White-iphone_page2.png")
            .download Download available now
            div.buttons
              a.button.appstore(target="_blank", href="https://itunes.apple.com/us/app/vox-voice-of-box/id946661257") app store
              a.button.playstore(target="_blank", href="https://play.google.com/store/apps/details?id=com.easi6.vox.android") play store

    #gradient3.gradient-bg
      .page-wrapper.special
        #page3.page
          ul.media-list
            li.media
              .media-left
                img(src="img/profile_icon.png")
              .media-body.media-middle
                |Don't care how you look.<br>
                |Just need to create your own hashtag.
            li.media
              .media-left
                img(src="img/recording_icon.png")
              .media-body.media-middle
                |Tell me your story.<br>
                |Share your 12sec recording.
            li.media
              .media-left
                img(src="img/play_icon.png")
              .media-body.media-middle
                |Listening yours and other's stories.
            li.media
              .media-left
                img(src="img/comment_icon.png")
              .media-body.media-middle
                |Comment other's story either voice or text.

    #gradient4.gradient-bg
      .page-wrapper.special2
        #page4.page
          p.oneliner
            |vox wants to hear your story only<br>
            |through an honest and heartful voice.
          img.multiscreen(src="img/vox_web_page_multiscreen.png")
          .download Download available now
          div.buttons(style="height: 15.789473684%;")
            //a.button.appstore(target="_blank", href="#", onclick="alert('Download available soon'); return false;") app store
            a.button.appstore(target="_blank", href="https://itunes.apple.com/us/app/vox-voice-of-box/id946661257") app store
            a.button.playstore(target="_blank", href="#", onclick="alert('Download available soon'); return false;") play store

    #gradient5.gradient-bg
      .page-wrapper.special
        #page5.page
          .link-wrapper
            a.twitter(href="http://twitter.com/voxstory") vox twitter
            a.facebook(href="http://facebook.com/easi6") vox facebook

          h1.logo.logo-small
            |vox logo
            img(src="/img/vox_logo_small.png")
          .disclaimer
            .dot-line
              img(src="/img/dot_line_short.png")
            span
              |vox is created by 
              a(target="_blank", href="http://easi6.com") easi6
            .dot-line
              img(src="/img/dot_line_short.png")

